@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: poppins;
  src: url('/public/fonts/Poppins/Poppins-Medium.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: poppins;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: poppins;
  overflow-x: hidden;
  flex-wrap: wrap;
}

::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E2E2E2;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E2E2E2;
}

body {
  font-family: poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: poppins;
}


.coolRed {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.4s ease-in-out;
  will-change: transform;
}

.coolRed::after {
  background-color: #B60000;
  border-radius: 10px;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: transform 0.3s ease-out;
  will-change: transform;
  z-index: -1;
}

.coolRed:hover::after {
  transform: translate(0, 0);
}

.coolRed:hover {
  border: 2px solid transparent;
  color: #ffffff;
  transform: scale(1.05);
  will-change: transform;
}

.coolgray {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.4s ease-in-out;
  will-change: transform;
}

.coolgray::after {
  background-color: #628C7C;
  border-radius: 10px;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: transform 0.3s ease-out;
  will-change: transform;
  z-index: -1;
}

.coolgray:hover::after {
  transform: translate(0, 0);
}

.coolgray:hover {
  border: 2px solid transparent;
  color: #ffffff;
  will-change: transform;
}